[submodule "geoserver-shell"]
	path = geoserver-shell
	url = https://github.com/jericks/geoserver-shell.git
[submodule "android_location_converter"]
	path = android_location_converter
	url = https://github.com/iboates/android_location_converter.git
[submodule "gis-frontend"]
	path = gis-frontend
	url = git@github.com:Brainfood-com/gis-frontend.git
[submodule "gis-iiif-loader"]
	path = gis-iiif-loader
	url = git@github.com:Brainfood-com/gis-iiif-loader.git
[submodule "gis-api"]
	path = gis-api
	url = git@github.com:Brainfood-com/gis-api.git
[submodule "container-scripts"]
	path = container-scripts
	url = git@github.com:Brainfood-com/docker-container-scripts.git
